html,body{
    margin: 0;
    padding: 0;
    background-color: #111111;

}

.height-nav{

}


.container-fluid{
    position: relative;
    padding-right: 0;
    padding-left: 0;
 
}

.centered{
    position: absolute;
    top: 10%;
    left: 10%;
    color: rgb(255, 255, 255);
}

.nav_col{
    background-color: #111111;
  
}

#footer{
  
    background-color: #111111;
    color: rgb(117, 117, 117);
}

