body {
    overflow-x: hidden;
    padding-top: 55px;
}

.sidebar.collapse.show,
.sidebar.collapse.show + .col {
    transition: .18s linear;
    left: 0;
}

.sidebar.collapse ,
.sidebar.collapsing,
.sidebar.collapsing + .col {
    transition: .18s linear;
    z-index: 1050;
    left: -25%;
    height: auto !important;
}

.Dark-color{
    background-color: #F9F9F9;
}


.clo{
    background-color:white;
}

#logo{
    border-radius: 50%;
}

.papa{
    
    height:50vh;
}

.midd{
    margin-top: 10vh;
}


/*Test  */

.box-wrap{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:10%;
    
  }
  .box{
    padding:30px;
    margin:2%;
    background:white;
    width:30%;
    border:1px solid #d6d6d6;
    box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
    border-radius:3px;
    transition:.2s all; 
  }
  .box-wrap:hover .box{
    filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
  }
  .box-wrap:hover .box:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
  }

  .linkcol{
    color: black;      
  }

  .linkcol:hover{
      color: rgb(99, 96, 96);
  }