body {
    overflow-x: hidden;
    padding-top: 55px;
    
}

.sidebar.collapse.show,
.sidebar.collapse.show + .col {
    transition: .18s linear;
    left: 0;
}

.sidebar.collapse ,
.sidebar.collapsing,
.sidebar.collapsing + .col {
    transition: .18s linear;
    z-index: 1050;
    left: -25%;
    height: auto !important;
}

.Dark-color{
    background-color: #F9F9F9;
}


.clo{
    background-color:white;
}

#logo{
    border-radius: 50%;
}

.test{
    
}

.grow img:hover{
}


/*Youtube responsive feature start*/
    .grow :hover{
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    transition: 1s ease;
    }

    .video-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
    .video-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
/*Youtube responsive feature End*/    